<div class="row max-width bg-img">
  <div class="col-12 center no-padding">
    <%= image_tag image_path("map-single.jpg"), alt: "map image", class: "hero-img opacity-secondary" %>
  </div>
</div>

<div class="row max-width no-margin mt-2">
  
  <div class="col-3 dash-col dash-split">
    
    <div class="row">
      <div class="col-12 no-padding">
        <h3 class="center thirdary-color">My Groups</h3>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-12 no-padding">
        <%= link_to "New Group", new_group_path, class: "btn btn-info btn-block" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 no-padding">
        <ul class="no-padding">
          <% if @myGroups.nil? %>
            <h4>You have no groups yet - create a group or ask a friend for an invite!</h4>
          <% else %>
            <% @myGroups.each do |group| %>
              <li class="link center dash-group"><%= link_to group.group.nickname, group.group %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>


  <div class="col-8 dash-col">
    
    <div class="row">
      <div class="col-12">
        <h3 class="center thirdary-color">My Trips</h3>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-12">
        <%= link_to "New Trip", new_trip_path, class: "btn btn-info btn-block" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 no-padding">

        <% if @myTrips.nil? %>

          <h4>You have no trips yet - create a trip or ask a friend for an invite!</h4>

        <% else %>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Trip</th>
                <th scope="col">Group</th>
                <th scope="col">Dates</th>
              </tr>
            </thead>
            <tbody>
              <% @myTrips.each do |t| %> 
                <tr>
                  <th scope="row" class="link"><%= link_to t.nickname, t %></th>
                  <td>
                    <% if t.group_id.nil? %>
                      N/A
                    <% else %>
                      <%= link_to Group.find(t.group_id).nickname, Group.find(t.group_id), class: "dash-link" %>
                    <% end %>
                  </td>
                  <td><%= t.trip_start_date.strftime("%m/%d") %> - <%= t.trip_end_date.strftime("%m/%d/%Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        <% end %>

      </div>
    </div>

  </div>

</div>