<div class="row max-width bg-img">
  <div class="col-12 center no-padding">
    <%= image_tag image_path("map-pair.jpg"), alt: "map image", class: "hero-img opacity-secondary" %>
  </div>
</div>

<div class="row max-width">
  <div class="col-12 center">
    <h3 class="bold">Trip Itinerary: <span class="italic"><%= @trip.nickname %></span></h3>
    <small><%= link_to "Edit Trip Details", edit_trip_path %></small>
  </div>
</div>

<div class="row max-width mt-3">
  <div class="col-6 align-right">
    <span class="bold">Cost:</span>
  </div>
  <div class="col-6 align-left">
  $<%= @trip.total_cost %>
  </div>
</div>

<div class="row max-width mt-2">
  <div class="col-6 align-right">
    <span class="bold">Funds Deadline:</span>
  </div>
  <div class="col-6 align-left">
  <%= @trip.funds_deadline.strftime("%m/%d/%Y") %>
  </div>
</div>

<div class="row max-width mt-2">
  <div class="col-6 align-right">
    <span class="bold">Trip Start Date:</span>
  </div>
  <div class="col-6 align-left">
  <%= @trip.trip_start_date.strftime("%m/%d/%Y") %>
  </div>
</div>

<div class="row max-width mt-2">
  <div class="col-6 align-right">
    <span class="bold">Trip End Date:</span>
  </div>
  <div class="col-6 align-left">
  <%= @trip.trip_end_date.strftime("%m/%d/%Y") %>
  </div>
</div>

<div class="row max-width mt-2">
  <div class="col-6 align-right">
    <span class="bold">Travel Group:</span>
  </div>
  <div class="col-6 align-left">
  <% if @trip.group %>
    <%= @trip.group.nickname %>
  <% else %>
    You haven't assigned a group yet
  <% end %>
  </div>
</div>

<br />
<div class="row max-width mt-3">
  <h4 class="max-width center">Itinerary:</h4>
</div>
<div class="row max-width trip-itinerary">
  <div class="row max-width">
    <div class="col-12 center">
      <%= link_to image_tag("add-city.png", alt: "city")+" Add a City", new_trip_itinerary_path(@trip), class: "m-2 link" %>    
    </div>
  </div>

  <div class="col-12">
    <% if @itinerary.nil? %>
      No itinerary exists, please start by adding a city.
    <% else %>
      <% @itinerary.each do |i| %>
        <div class="row itinerary-div">
          <div class="col-6 center">
            <%= i.city.city.titlecase %>, 
            <% if i.city.region == "dc" %>
              <%= i.city.region.upcase %>
            <% else %>
              <%= i.city.region.titlecase %>, 
            <% end %>
            <% if i.city.country == "usa" %>
              <%= i.city.country.upcase %>
            <% else %>
              <%= i.city.country.titlecase %>
            <% end %>
            
            <%= link_to image_tag("edit.png", alt: "edit")+" Edit", edit_trip_itinerary_path(@trip, i) ,class: "m-1 link"%>
          </div>
          <div class="col-6 align-left">
            <%= i.start_date.strftime("%m/%d/%Y") %>
            - 
            <%= i.end_date.strftime("%m/%d/%Y") %>
            
            <%= link_to image_tag("delete.png")+" Delete", trip_itinerary_path(@trip, i), class: "m-1 link danger delete-itinerary ml-5"%><br /><br />       
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="content-div">
  <div class="row max-width mt-5">
    <div class="col-12 center">
      <% if @trip.group %>
        <h4><%= @trip.group.nickname %> Members</h4>
        <small><%= link_to "Edit Group", @trip.group, class: "link" %></small>
      <% else %>
        <h4>Please assign a group.</h4>
        <small><%= link_to "Edit Trip Details", edit_trip_path, class: "link" %></small>
      <% end %>
      <table class="table table-striped table-hover mt-5 max-width">
        <thead>
          <tr>
            <th scope="col">Member</th>
            <th scope="col">Current Funds</th>
            <th scope="col">Goal</th>
            <th scope="col">Progress</th>
            <th scope="col">Remainder</th>
            <th scope="col"></th>
          </tr>
        </thead>
          <tbody>

        <% if @members %>  
          <% @members.each do |member| %>
          <!-- calculate current member's funds -->
            <div class="group-member member-div">
            <% goal = Goal.find_by(user_id: member.id, trip_id: @trip.id) %>
            

            <tr>
              <th scope="row"><%= member.first_name %> <%= member.last_name %></th>
     
              <% if goal.present? %>  
                <% current = goal.current_amount %>
                <% total = goal.total_goal %>
                <% balance = total - current %>
                <% percent = current.to_f/total * 100 %>
                
                <td>$<%= current %></td>
                <td>$<%= total %></td>
                
                <td>
                  <% if percent < 30 %>
                    <span class="red blink">
                  <% elsif percent >= 30 && percent < 60 %>
                    <span class="orange">
                  <% elsif percent >= 60 && percent < 90 %>
                    <span class="yellow">
                  <% elsif percent >= 90 %>
                    <span class="green">
                  <% end %>
                      <%= percent.round(2) %>%
                    </span>
                </td>
                
                <td>
                  <% if balance > 1 %>
                    $<%= balance %>
                  <% elsif balance == 0  %>
                    <span class="green blink">COMPLETE!</span>
                  <% end %>          
                </td>
              <% else %>
                <td colspan="4"><span class="warning blink">No Goal Set!</span></td>
              <% end %>

              <td> 
                <% if member.id == current_user.id %>
                  <% if goal.present? %>
                    <%= link_to "Edit Goal", edit_goal_path(goal), class: "btn btn-sm btn-info" %>
                  <% else %>
                    <%= link_to "Add Goal", new_trip_goal_path(@trip), class: "btn btn-sm btn-info" %>
                  <% end %>
                <% else %>
                  <%= link_to "Message", @trip, class: "btn btn-outline-info btn-sm message" %>
                <% end %>
              </td>
            </tr>

          </div>

          <% end %>

        <% else %>
          There are no members in this group!
        <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>

