<div class="row max-width">
  <div class="col-12 center">
    <h3 class="bold">Trip Itinerary: <span class="italic"><%= @trip.nickname %></span></h3>
    <small><%= link_to "Edit Trip Details", edit_trip_path %></small>
  </div>
</div>


<div class="row max-width mt-3">
  <div class="col-6 align-right">
    <span class="bold">Cost:</span>
  </div>
  <div class="col-6 align-left">
  $<%= @trip.cost %>
  </div>
</div>

<div class="row max-width mt-2">
  <div class="col-6 align-right">
    <span class="bold">Funds Deadline:</span>
  </div>
  <div class="col-6 align-left">
  <%= @trip.deadline.strftime("%m/%d/%Y") %>
  </div>
</div>

<div class="row max-width mt-2">
  <div class="col-6 align-right">
    <span class="bold">Trip Start Date:</span>
  </div>
  <div class="col-6 align-left">
  <%= @trip.start_date.strftime("%m/%d/%Y") %>
  </div>
</div>

<div class="row max-width mt-2">
  <div class="col-6 align-right">
    <span class="bold">Trip End Date:</span>
  </div>
  <div class="col-6 align-left">
  <%= @trip.end_date.strftime("%m/%d/%Y") %>
  </div>
</div>

<div class="row max-width mt-2">
  <div class="col-6 align-right">
    <span class="bold">Travel Group:</span>
  </div>
  <div class="col-6 align-left">
  <% if @trip.group %>
    <%= @trip.group.nickname %>
  <% else %>
    You haven't assigned a group yet
  <% end %>
  </div>
</div>

<div class="row max-width mt-5">
  <div class="col-12 center">
    <% if @trip.group %>
      <h4><%= @trip.group.nickname %> Members</h4>
      <small><%= link_to "Edit Group", @trip.group, class: "link" %></small>
    <% else %>
      <h4>Please assign a group.</h4>
      <small><%= link_to "Edit Trip Details", edit_trip_path, class: "link" %></small>
    <% end %>
    <table class="table table-hover mt-5 max-width">
      <thead>
        <tr>
          <th scope="col">Member</th>
          <th scope="col">Current Funds</th>
          
          <th scope="col">Goal</th>
          <th scope="col">Progress</th>
          <th scope="col">Remainder</th>
          <th scope="col"></th>
        </tr>
      </thead>
        <tbody>

      <% if @members %>  
        <% @members.each do |member| %>
        <!-- calculate current member's funds -->
          <div class="group-member member-div">
          <% goal = Goal.find_by(user_id: member.id, trip_id: @trip.id) %>
          

          <tr>
            <th scope="row"><%= member.first_name %> <%= member.last_name %></th>
              
   
            <% if goal.present? %>  
              <% current = goal.current %>
              <% total = goal.goal %>
              <% balance = total - current %>
              <% percent = goal.current.to_f/goal.goal * 100 %>
              

              <td>$<%= current %></td>
              <td>$<%= total %></td>
              
              <td>
                <% if percent < 30 %>
                  <span class="red">
                <% elsif percent >= 30 && percent < 60 %>
                  <span class="orange">
                <% elsif percent >= 60 && percent < 90 %>
                  <span class="yellow">
                <% elsif percent >= 90 %>
                  <span class="green">
                <% end %>
                    <%= percent.round(2) %>%
                  </span>
              </td>
              
              <td>
                <% if balance > 1 %>
                  $<%= balance %>
                <% elsif balance == 0  %>
                  <span class="green blink">COMPLETE!</span>
                <% end %>          
              </td>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <% end %>

            <td>
              
              <% if member.id == current_user.id %>

                <% if goal.present? %>
                  <!-- <-- Edit Goal -->
                  <%= link_to "Edit Goal", edit_trip_goal_path(@trip, goal), class: "link" %>
                <% else %>
                  <%= link_to "Add Goal", new_trip_goal_path(@trip), class: "link" %>
                <% end %>
              
              <% else %>
                <%= link_to "Message", @trip %>
              <% end %>



            </td>
          </tr>


        </div>

        <% end %>
        <!-- @members.each do -->
      <% else %>
        There are no members!
      <% end %>

    <!-- </ul> -->
      </tbody>
    </table>
  </div>
</div>

    

