<%= form_for @form_resource do |f| %>

  <div class="form-group">
    <%= f.label :total_goal %>
    <%= f.number_field :total_goal, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_amount %>
    <%= f.number_field :current_amount, class: "form-control" %>
  </div>

  <br />

  <div class="form-group">
    <%= f.submit "Save Goal", class: "btn btn-outline-success btn-block" %>
  </div>
<% end %>
