<!DOCTYPE html>
<html>
  <head>
    <title>TravelPals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-fluid">

      <div class="nav">
        <div class="col-12">
          <a href="<%= root_path %>"><%= image_tag image_path("/assets/logo.png"), alt: "logo", class: "logo" %></a>
          <nav class="nav">
            <ul>
              <li><%= link_to "About Us", root_path %></li>
              <% if current_user %>
              <li><%= link_to "Dashboard", dashboard_path %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :DELETE %></li>
              <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </nav>

        </div>
      </div>

      <div class="row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= custom_bootstrap_flash %>
        <%= yield %>
      </div>
      
      <div class="float-right m-4">
        &#169; Travel Pals 2018
      </div>
    </div>
  </body>
</html>
